@inject NavigationManager NavigationManager
@inject IProject IUserService
@inject ToastService toastService

@if (TableData == null || Columns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="w-full bg-white rounded-md border-b border-gray-200 shadow-lg">
        <thead class="bg-white border-b-2 border-gray-200 rounded-lg">
            <tr>
                @if (Columns != null)
                {
                    @foreach (var column in Columns)
                    {
                        <th class="p-3 text-sm font-normal text-gray-500 tracking-wide text-left">@column.Title</th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in TableData)
            {
                <tr class="bg-white hover:bg-gray-50 cursor-pointer">
                    <td class="p-3 text-sm text-gray-700">@item.Name</td>
                    <td class="p-3 text-sm text-gray-700">@item.ProjectType</td>
                    <td class="p-3 text-sm text-gray-700 text-ellipsis">@item.Description</td>
                    <td class="p-3 text-sm text-gray-700">@item.ProjectStartDate.ToString("dd-MMM-yyyy")</td>
                    <td class="p-3 text-sm text-gray-700">@item.ProjectEndDate</td>
                    <td class="p-3 text-sm text-gray-700">
                        <ProjectStatus Title="@item.ProjectStatus" />
                    </td>
                    <td class="p-3 text-sm">
                        <i class="bi bi-pencil text-sky-500" title="Edit" @onclick="@(()=> RedirectToAddProjectWithId(item.Id))"></i>
                        <i class="bi bi-trash3 text-red-500" title="Delete" @onclick="@(()=> DeleteProject(item.Id))"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<TableColumnSetting>? Columns { get; set; }

    [Parameter]
    public EventCallback OnProjectDeleted { get; set; }

    [Parameter]
    public List<Project>? TableData { get; set; }

    private void RedirectToAddProjectWithId(int id)
    {
        NavigationManager.NavigateTo($"/addproject/{id}");
    }

    protected async Task DeleteProject(int id)
    {
        try
        {
            IUserService.DeleteProject(id);

            toastService.ShowToast("Project deleted successfully", ToastLevel.Success);
            await OnProjectDeleted.InvokeAsync();
            NavigationManager.NavigateTo("/projects");
        }
        catch (Exception)
        {
            toastService.ShowToast("An error occured, Try again", ToastLevel.Error);
        }
    }
}
