@page "/adduser"
@page "/adduser/{id:int}"
@inject NavigationManager NavigationManager
@inject IUser IUserService
@inject ToastService toastService

<Breadcrumb CurrentRoute="@NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length - 1).ToString().Replace("/", "").ToLower()" />

<EditForm Model="@user" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="flex gap-2">
        <div class="bg-white rounded-lg shadow-md p-4 md:w-1/2">
            <div class="flex flex-col space-y-4">
                <div class="flex flex-col">
                    <label for="name" class="text-sm text-gray-500">Name</label>
                    <InputText id="name" @bind-Value="user.Name" class="w-full border focus:outline-none p-1 px-2 rounded-md text-sm" />
                    <ValidationMessage class="text-xs text-red-500" For="@(() => user.Name)"></ValidationMessage>
                </div>
                <div class="flex flex-col">
                    <label for="name" class="text-sm text-gray-500 flex-1">Department</label>
                    <InputText id="name" @bind-Value="user.Department" class="w-full border focus:outline-none p-1 px-2 rounded-md text-sm" />
                    <ValidationMessage class="text-xs text-red-500" For="@(() => user.Department)"></ValidationMessage>
                </div>
                <div class="flex flex-col">
                    <label for="name" class="text-sm text-gray-500 flex-1">Role</label>
                    <InputText id="name" @bind-Value="user.Role" class="w-full border focus:outline-none p-1 px-2 rounded-md text-sm" />
                    <ValidationMessage class="text-xs text-red-500" For="@(() => user.Role)"></ValidationMessage>
                </div>
                <div class="text-right">
                    <a href="/users" class="p-[0.6rem] bg-gray-400 text-white text-sm rounded-md hover:bg-gray-500">Cancel</a>
                    <button type="submit" class="p-2 bg-sky-700 text-white text-sm rounded-md hover:bg-sky-600">@ButtonText</button>
                </div>
            </div>
        </div>
        
    </div>

</EditForm>


@code {
    private User? user { get; set; }
    private string ButtonText { get; set; } = "Submit";

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        if (Id <= 0)
        {
            user = new();
            ButtonText = "Submit";
        }
        else
        {
            user = IUserService.GetUserById(Id);
            ButtonText = "Update";
        }
    }

    private void SubmitForm()
    {
        if (user != null)
        {
            if (Id <= 0)
            {
                IUserService.AddUser(user);
                user = new();
                toastService.ShowToast("User added successfully", ToastLevel.Success);
                NavigationManager.NavigateTo("/users");
            }
            else
            {
                IUserService.UpdateUser(user);
                toastService.ShowToast("User updated successfully", ToastLevel.Success);
                NavigationManager.NavigateTo("/users");
            }

        }
    }
}
